
/*
section#hero-content{
    margin: 0 auto;
}*/

body{
    overflow-x:hidden;
}

.quotes {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

#transparency-quote{
    color: #12d5b8;
}

#transparency-right-floater{
    right:0;
    padding-top:2rem;
}


@media (max-width:1200px){
    .hide-on-lg {
        display:none;
    }
}





#people-behind-bg{
    background-color: rgb(231,251,248);

    background-position: center center;
}

#circ, #circ-pic {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
}

#circ {
    left:-2.5%;
}



@media (max-width:767px){
    #circ{

        position: relative;
        transform: translateX(150%);
        top: -10%;
        width:25%;
        height:auto;
    }

    #circ-pic{
        position:initial;
        top: initial;
        transform:initial;
    }
}


.blue-ibinex{
    color:#2770f6;
}

.blue-ibinex-bg{
    background-color:#2770f6;
}

#media-coverage-floater{
    position: relative;
    transform:translateY(-10%);
}

div.advisory-board{
    background-color: #f2f2f2;
    padding: 0;
}

ul.advisory-board-members-list{
    font-family: 'Montserrat';
    font-size: 0.9rem;
    font-color: #1a1a1a;
}

div.advisory-board-members-list-item-name{
    font-weight: bold;
}

div.advisory-board-members-list-item-name,
div.advisory-board-members-list-item-desc{
    padding-left: 1em;
    padding-right: 1em;
}
