
/*
section#hero-content{
    margin: 0 auto;
}*/


.quotes {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    font-size: 30px;
}

#transparency-quote{
    color: #12d5b8;
}

#transparency-right-floater{
    right:0;
    padding-top:2rem;
}


@media (max-width:993px){
    .hide-on-lg {
        display:none;
    }
}





#people-behind-bg{
    background-color: #e7fbf8;
    padding-bottom: 180px !important;

}

#circ, #circ-pic {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
}

#circ {
    left:-2.5%;
}



@media (max-width:993px){
    #circ{

        position: relative;
        top: 0;
        width:25%;
        height:auto;
    }

    #circ-pic{
        position:initial;
        top: initial;
        transform:initial;
    }
}


.blue-ibinex{
    color:#2770f6;
}

.blue-ibinex-bg{
    background-color:#2770f6;
}

#media-coverage-floater{
    height: 900px;
    width: 857px;
    max-width: 100%;
    flex: none;
    position: relative;
    transform: translateY(-18%);
    padding: 200px 55px 210px 433px;
}

#thirdfold-p1 {
    margin-bottom: 40px;
}

#media-coverage-images{
    margin-left: 100px !important;
    margin-top: 100px !important;
}

div.advisory-board{
    background-color: #f2f2f2;
    padding: 0;
}

ul.advisory-board-members-list{
    font-family: 'Montserrat';
    font-size: 18px;
    color: #1a1a1a;
}

div.advisory-board-members-list-item-name,
div.advisory-board-members-list-item-desc{
    padding-left: 1em;
    padding-right: 1em;
}

.advisory-board-members-list li{
    padding: 0 5px;
}

.advisory-board-members-list li img{
    width:100%;
}

button.linked-in-btn {

    border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    
}

button.linked-in-btn img {
    margin-right: 0.5em;
}