body #fullscreen-hero {
    /*   background-image: url("../img/contact-bg.png");
      min-height: 546px;
      background-repeat: no-repeat;
      background-position: center center; */
    height: 100vh;
    /*background-image: url(../img/contact-bg.png);*/
    /*background-position: center top;*/
    /*background-repeat: no-repeat;*/
    width: 100%;
}

section#hero-content {
    margin: 0 auto;
}

.ib-contact-c {
    height: 100vh;
    background: url(../img/contact-bg.png) no-repeat center top;
}
.row.ib-get-started,
.row.ib-contact-support h2 {
    color: #333333;
}
.row.ib-get-started-a {
    margin: 0 16% 0;
    text-align: center;
    font-size: 1em;
}
.row.ib-get-started-a a {
    color: #045d76;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.row.ib-get-started-b .col-sm img {
    padding-bottom: 15px;
}
.row.ib-get-started-b .col-sm .label {
    color: #2770f6;
    font-weight: bold;
}
.container .ib-get-started-note {
    margin-top: 35px;
    text-align: center;
}
.ib-contact {
    height: 100vh;
    margin: 15% 0 0 0;
    color: #5F605F;
}
.col-sm-7.ib-contact-bg {
    background: url(../img/formbg.png) no-repeat top center/cover;
    height: 100vh;
    position: relative;
}
.ib-contact-form {
    width: 28vw;
    background: #f2f1f1;
    padding: 5%;
    position: absolute;
    margin: -14% 0 0 7%;
}
.ib-contact-form input, .ib-contact-form textarea {
    border: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(218, 218, 218,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(218, 218, 218,1);
    box-shadow: 0px 0px 10px 0px rgba(218, 218, 218,1);
}
.ib-contact-form textarea {
    resize: none;
}
.ib-contact-form button.btn.btn-primary {
    background-color: #12d5b8;
    border: none;
    width: 120px;
}
.ib-text-center {
    text-align: center;
}
.ib-pp {
    display: none;
}
.ib-contact .ib-contact-support .col-sm-3 {
    padding-top: 5%;
}
.ib-get-started {
    padding-top: 10%;
}
@media only screen and (max-width: 576px) {
    .row.ib-get-started-a {
        margin: 0 0 0;
    }
    .ib-text-center {
        text-align: left !important;
    }
    .row.ib-get-started-b .col-sm .label {
        font-size: 1.5em;
    }
    .ib-contact-form {
        width: auto;
        background: #f2f1f1;
        position: relative;
        margin: 0;
    }
    .col-sm-7.ib-contact-bg {
        background: #f2f1f1;
        height: 100%;
        position: relative;
    }
    .ib-contact-form button.btn.btn-primary {
        width: 155px;
        padding: 3%;
    }
    .ib-p, #live-demo-btn {
        display: none;
    }
    .ib-pp {
        display: block;
    }
    #fullscreen-hero {
        height: 100vh;
        background: url(../img/contact-bg.png) no-repeat center top/cover;
    }
    .ib-get-started {
        padding-top: 15%;
    }
    .ib-contact .ib-contact-support .col-sm-3 {
        padding: 0 7%;
    }
}

@media only screen and (min-width: 1920px) {
    #fullscreen-hero{
        background: url(../img/contact-bg.png) no-repeat center top/contain
    }
}
@media only screen and (min-height: 1024px) {
    body #fullscreen-hero{
        min-height: 70vh !important;
        height: 70vh;
    }
}
