body #fullscreen-hero {
    /*background-image: url("https://i.imgur.com/JM0qNPw.png");*/
}

body.home-template aside{
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 767px) {
    h2.title.text-center-sm {
        text-align:center !important;
    }
}