
section#hero-content {
    margin: 0 auto;
}
#security-page {
    font-family: 'Proxima Nova';
}
p {
    text-align: justify;
}
section {
    padding-top: 1em;
    min-height: 300px;
    position: relative;
}
article {
    padding: 0;
}
.second-section {
    background-color: rgb(231,251,248);
}
.security-width {
    max-width: 1020px;
    margin: auto;
}
.security-section {
    display: none; /*default smaller devices*/
}
#infor-security {
    padding-bottom: 0;
}
.subtitle {
    display: block;
    padding-top: 0.8em!important;
}



/*** Media Queries as per chrome dev tool ***/

/* iPad specific */
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) {
    .security-section {
        display: block;
        position:absolute;
        height:105%;
        width:50%;
        top:-15%;
        right:0;
        background-image: url('../img/security-section.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #infor-security {
        padding-bottom: 0;
    }
    article {
        padding: 120px;
    }
    section {
        padding: 0;
    }
}

/* Larger than iPad */
@media only screen and (min-width: 769px) {
    .security-section {
        display: block;
        position:absolute;
        height:120%;
        width:50%;
        top:-25%;
        right:0;
        background-image: url('../img/security-section.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #infor-security {
        padding-bottom:200px;
    }
    article {
        padding: 120px;
    }
    .first-section {
        padding: 6% 0;
    }
    section {
        padding: 4em 0;
    }
}

