* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    font-family: "Proxima Nova";
}


.overflow-remover{
    overflow: hidden;
}

.core {
    background-color: rgb(48,217,196);
    color: white;
    font-size: 12px;
    padding: 14px 15px;
    border-radius: 50%;
}

.core-text {
    color: rgb(39,112,246);
}

.block {
    background-color: rgb(242,241,241);
    z-index: 99999;

}

h2.blocktext
{
    padding-top: 20%;
}

p.blocktext
{
    margin-top: 10%;
}

.blocktext-background{
    background-image: url(../img/s1.png);
    height: 750px;
    width:100%;
    zoom: 0.6;
    background-repeat:no-repeat;
}

@media only screen and (max-width: 768px){

    #our-vision {
        display: grid;
        grid-template-rows: auto auto auto;
    }
    #our-vision > div:first-child {
        grid-row: 1 / span 2;
        /*z-index: 9999999;*/
    }

    #our-vision > div:last-child {
        position: relative;
        top: -210px;
        grid-row: 3 / span 1;
        margin-bottom: -160px;
        /*z-index: 9999999;*/
    }
}




@media only screen and (min-width: 768px){
    .blocktext-background{
        zoom: 0.7;
    }

    h2.blocktext {
        padding-top: 10%;
    }

    p.blocktext {
        margin-top: 5%;
    }
}

/* 1024 px */

@media only screen and (min-width: 1024px){
    .spacer{
        margin-bottom: 10%;
    }

    .remover{
        margin-left: 0px;
        margin-right: 0px;
    }

    .core-text {
        margin-bottom: 40%;
    }

    .blocktext-background{
        zoom: 0.8;
        height: 750px;
    }

    .blocktext-background2{
        width: 500px;
        height: 450px;
        margin-left: 10%;
    }

    h2.blocktext
    {
        padding:5%;
        margin-right:20%;
    }

    p.blocktext
    {
        margin-top: 0%;
        text-align: justify;
        margin-left: 5%;
        margin-right: 21%;

    }

    .block{
        top: 12%;
        right: 0%;
        width: 53%;
        margin-right: 0px !important;
        padding: 3% 5% 4% !important;
        position: absolute;
        top: 38vh;
    }
}

/* 1200 px */

@media only screen and (min-width: 1200px){


    .blocktext-background{
        zoom: 1;
    }

    .blocktext-background2{
        width: 800px;
        height: 600px;
    }


}